<td> 
<select>
    <% for( const product of products ) { %>
        <option value=" <%= product %>"> <%= product %></option>
    <% } %>
</select>
</td>
<td><input type="text"></td> 
<td> <a href="">Eliminar</a></td>