

<td> 
<select id="selector">
    <% for( const product of products ) { %>
        <option  value=" <%= product %>"> <%= product %></option>
    <% } %>
</select>
</td>

<td><input id="cantidad" type="text" value="0"></td> 
<td> <button type="button" onclick="addProduct()">Agregar</button></td>