<div id="supTable" >
        <table id="t01">
            <tr>
                <th>Pedido #</th>
                <th>Cliente</th> 
                <th>Productos</th>
                <th>Fecha</th>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                
                
                <td>
                </td>
                <td>
                </td>
            </tr>
            
        </table>
</div>