<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/nuevoPedido.css">    
    <script src="scripts/add.js" defer></script>
    
    <title>Nuevo pedido</title>
</head>

<body>

    
    <div id="titulo">
        <h1>Nuevo Pedido</h1>
    </div>
    <div class="botones" >

        <button >Guardar</button>

    <form action="/save" method="POST" >
        <button>Enviar</button>

    </div>


       
        <div id="cabecera">
           
                <label>Cliente: </label>
                <textarea name="cliente" placeholder="Nombre del ciente" rows="1" cols="25"></textarea>
            
            <p>Estado: <i> Borrador</i></p>
            
        </div>

    </form>
        

    <div id="supTable" >
        <table id="t01">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th> 
                <th>Opcion</th>
            </tr>
            <tr>
                <%- include partials/selectProduct %>
                
            </tr>
            
        </table>
    </div>

    

</body>
</html>