<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="scripts/navBar.js" defer></script>
    <link rel="stylesheet" href="styles/style.css">   
    
    <title>Pedido De Productos</title>
</head>
<body  background="https://i.imgur.com/LwSmYT1.jpg">

<div id="titulo">
    <h1>Pedidos</h1>
</div>
<form action="/nuevo" >
    <div id="botones">
        <button>Crear Nuevo</button>
    </div>
</form>
    
<header id="navbar">
    <ul id="tabs">
        <li data-id="pos1">Borradores</li>
        <li data-id="pos2" class="selected">Solicitados</li>
        <li data-id="pos3">Completados</li>
    </ul>
</header>

<div id="pos1" class="hidden">
    <h1>Borradores</h1>
</div>
<div id="pos2">
    <%- include partials/Solicitados %>
</div>
<div id="pos3" class="hidden">
    <h1>Completados</h1>
</div>

</body>
</html>