#titulo {
    text-align: center;
}

.botones {
    text-align:right;
    margin-right: 3em;
    
}
.botones button{
    margin: 0.5em;
}

label,p{
    font-family: Georgia;
    font-weight:bolder;
}
h1{
    font-family: Courier;
}
#cabecera{
    margin-left:  5em;
}

table label{
    font-family: fantasy;
}

/*------------Css Table-------------------------------*/
#supTable{
    margin-left: 5em;
    margin-right: 5em;
    
}
table {
    width:100%;
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    /* background-color: #eee; */
    background-color: rgba(145, 145, 145, 0.384);
}
table#t01 tr:nth-child(odd) {
   /* background-color: #fff; */
   background-color: rgba(81, 170, 129, 0.397);
}
table#t01 th {
    background-color: black;
    color: white;
}
/*------------Css Table-------------------------------*/

body {
    
    background-image: url("https://img.webme.com/pic/w/webcp/bge01.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    
    
}