#tabs li{
    display: inline-block;
    padding: 1.5em;
    cursor: pointer;
    color: bisque;
    

}

ul{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

li:hover{
    background-color: rgb(36, 96, 151); 
}

#navbar{
    margin: 0;
}

.hidden{
    display: none;
}
.selected{
    background-color:rgb(36, 96, 151); 
    
}

#titulo{
    text-align: center;   
    margin: 0;
}
h1{
    font-family: Courier;
}
body {
    
    background-image: url("https://img.webme.com/pic/w/webcp/bge01.jpg");
    background-repeat: no-repeat;
    background-size: auto; 
}

#botones {
    text-align:right;
    margin-right: 3em;
    
}

/*------------Css Table-------------------------------*/
#supTable{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 8em;
    
}
table {
    width:100%;
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    /* background-color: #eee; */
    background-color: rgba(145, 145, 145, 0.384);
}
table#t01 tr:nth-child(odd) {
   /* background-color: #fff; */
   background-color: rgba(81, 170, 129, 0.397);
}
table#t01 th {
    background-color: black;
    color: white;
}
/*------------Css Table-------------------------------*/